<ion-tabs>
  <ion-tab-bar slot="bottom" color= "primary">
    <ion-tab-button tab="bluetooth">
      <ion-icon name="map-outline"></ion-icon>
      <ion-label>Bluetooth</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="home">
      <ion-icon name="map-outline"></ion-icon>
      <ion-label>Ruta</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="posicion">
      <ion-icon name="accessibility-outline"></ion-icon>
      <ion-label>Posición</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="direciones">
      <ion-icon name="compass-outline"></ion-icon>
      <ion-label>Direciones</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>


